h4{
    font-weight: bold;
    font-size: 20px;
    margin: none;
}

input{
    display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color:#f2f2f2;
}